.chatMessages {
  overflow-x: auto;
  overflow-wrap: break-word;
  font-size: smaller;
  margin-bottom: 90px;
  overflow: scroll;
}



.chatForm {
  font-size: smaller;
  max-width: 250px;
}

div.MuiPaper-root {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  min-width: 250px;
}

div.col-8 {
  padding-left: 0px;
  padding-right: 0px;
}
