.gamePlayer {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  border: solid 0.5px black;
}

.gamePlayerJoined {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
}

.gamePlayer .progressBar {
  padding: 10px;
}

.progressBar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: small;
}

.progress {
  height: 0.5rem !important;
}

.cardCount{
    height:3px;
    width: 3px;
    font-size: small;
    font-weight: bold;
}